<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hide and Extract Image in Video</title>
  </head>
  <body>
    <h1>Hide Image in Video</h1>
    <form
      action="/image-in-video/upload"
      method="post"
      enctype="multipart/form-data"
    >
      <label for="video">Select Video file:</label>
      <input type="file" name="video" id="video" accept="video/*" required />
      <br />
      <label for="image">Select Image file:</label>
      <input
        type="file"
        name="image"
        id="image"
        accept=".jpg,.jpeg,.png"
        required
      />
      <br />
      <button type="submit">Upload</button>
    </form>

    <h1>Extract Image from Video</h1>
    <form
      action="/image-in-video/extract"
      method="post"
      enctype="multipart/form-data"
    >
      <label for="video">Select Video file:</label>
      <input type="file" name="video" id="video" accept="video/*" required />
      <br />
      <button type="submit">Extract</button>
    </form>
  </body>
</html>
