<!DOCTYPE html>
<html>
  <head>
    <title>Extracted Image</title>
  </head>
  <body>
    <h1>Extracted Image</h1>
    <img src="data:image/jpeg;base64,<%= image %>" alt="Extracted Image" />
  </body>
</html>
