<!DOCTYPE html>
<html lang="en">
  <h1>Стеганографія</h1>
  <ul>
    <li>
      <a href="image-in-mp3">Сховати зображення в mp3</a>
    </li>
    <li>
      <a href="mp3-in-image">Сховати mp3 в зображення</a>
    </li>
    <li>
      <a href="image-in-video">Сховати зображення в відео</a>
    </li>
    <li>
      <a href="video-in-image">Сховати відео в зображення</a>
    </li>
  </ul>
</html>
